<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds-from-desktop">
    <h1 class="govuk-heading-l">Check the Children’s Barred List</h1>
    <p class="govuk-body">CSV file uploaded successfully.</p>
  </div>
</div>
