<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds-from-desktop">
    <%= form_with model: @upload_form, url: [:support_interface, :uploads] do |f| %>
      <%= f.govuk_error_summary("There’s a problem") %>

      <%= f.govuk_file_field :file, 
                             label: { text: "Upload records (CSV)", size: "l", tag: "h1" },
                             accept: "text/csv" %>

      <%= f.govuk_submit "Upload file" %>
    <% end %>
  </div>
</div>
