<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">Sign in to check the children’s barred list</h1>

    <p class="govuk-body">
      People on the children’s barred list are not allowed to work with children.
    </p>

    <p class="govuk-body">
      The list is usually checked as part of a new employee’s enhanced Disclosure and Barring Service (DBS) check.
    </p>

    <p class="govuk_body">
      Schools, colleges, local authorities and higher education institutions can check the children’s barred list separately if the new employee either:
    </p>

    <ul class="govuk-list govuk-list--bullet">
      <li>
        will start working with children while waiting for the result of an enhanced DBS check
      </li>
      <li>
        does not need an enhanced DBS check because they’ve worked with children in a school or college within the last 3 months
      </li>
    </ul>

    <p class="govuk_body">
      You’ll need the new employee’s last name and date of birth to check the children’s barred list.
    </p>

    <%= form_with url: (DfESignIn.bypass? ? "/auth/developer" : "/auth/dfe") do |f| %>
      <button type="submit" class="govuk-button govuk-button--start">
        <%= DfESignIn.bypass? ? "Sign in with DSI bypass" : "Sign in" %>
        <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" aria-hidden="true" focusable="false">
          <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z"></path>
        </svg>
      </button>
    <% end %>
  </div>
</div>
