<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">You are now signed out</h1>

    <%= govuk_button_link_to "Continue", root_path  %>
  </div>
</div>
