<% content_for :page_title, "No record found" %>
<% content_for :breadcrumbs, govuk_breadcrumbs(breadcrumbs: { "Home" => root_path, "Search results" => nil }) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">No record found on the Children’s Barred List</h1>

    <%= govuk_summary_list(
      rows: [
        { key: { text: "Last name" }, value: { text: @search_form.last_name } },
        { key: { text: "Date of birth" }, value: { text: @search_form.date_of_birth.to_fs(:long_uk) } }
      ])
    %>

    <p class="govuk_body">
      There is no record on the children’s barred list with this last name and date of birth.
    </p>

    <p class="govuk_body">
      <%= govuk_link_to "Try another search", root_path %>
    </p>
  </div>
</div>
