<% content_for :page_title, "Possible match with the children’s barred list" %>
<% content_for :breadcrumbs do %>
  <%= govuk_breadcrumbs(breadcrumbs: { "Home" => root_path, "Search results" => nil }) %>
  <span class="govuk-caption-m">
    Searched at <%= @search.created_at.to_fs(:time_on_date_long) %>
  </span>
<% end %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">Possible match with the children’s barred list</h1>

    <%= govuk_summary_list(
      rows: [
        { key: { text: "Last name" }, value: { text: @record.last_name } },
        { key: { text: "Date of birth" }, value: { text: Date.parse(@record.date_of_birth).to_fs(:long_uk) } }
      ])
    %>

    <p class="govuk-body">
      There’s a record on the children’s barred list with this last name and date of birth.
    </p>

    <p class="govuk-body">
      Email the Disclosure and Barring Service (DBS) at <%= govuk_mail_to t('service.dbs_email'), t('service.dbs_email') %> to check if the person you searched for is allowed to work with children.
    </p>
  </div>
</div>
