<% content_for :page_title, "Record found" %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">Record found</h1>

    <%= govuk_summary_list(
      rows: [
        { key: { text: "Last name" }, value: { text: @search_form.last_name } }
      ])
    %>

    <p class="govuk-body">
      Contact DBS at <%= govuk_mail_to t('service.dbs_email'), t('service.dbs_email') %> for more details.
    </p>
  </div>
</div>
