$govuk-global-styles: true;
$govuk-new-link-styles: true;
$govuk-assets-path: "/";
$govuk-fonts-path: "/";
$govuk-images-path: "/";

@import "govuk-frontend/dist/govuk/all";

button.govuk-header__link {
  background: none !important;
  border: none;
  padding: 0 !important;
  color: #fff;
  cursor: pointer;
  font-size: 1rem;
  font-weight: bold;
}
